<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles.css" />
    <title>Adverts</title>
</head>

<body>
    <header>
        <div>ADVERTS</div>
        <div>
            <ul class="nav-links">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/adverts">Adverts</a>
                </li>
                <li>
                    <a href="/create">Create</a>
                </li>
            </ul>
        </div>
    </header>
    <h1>Adverts</h1>
    <div class="adverts__container">
        {{#each ads}}
        <div class="advert-item">
            <div class="advert-header">
                <h2>{{title}}</h2>
                <span>{{user}}</span>
            </div>
            <p>{{body}}</p>
            <span>Tags: {{category}}</span>
            <h3>Comments: </h3>
            {{#each comments}}
            <div class="comment">
                <img src="https://www.winhelponline.com/blog/wp-content/uploads/2017/12/user.png">
                <div class="comment-body">
                    <p class="user">{{user}}</p>
                    <p>{{body}}</p>
                </div>
            </div>
            {{/each}}
        </div>
        {{/each}}
    </div>
</body>

</html>