@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;1,400&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    font-family: 'Poppins', sans-serif;
}

body h1 {
    margin: 2rem 0;
    text-align: center;
}

h3 {
    margin-top: 1rem;
}

header {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #613DC1;
}

header:first-child {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 1.5rem;
}

.nav-links li{
    display: inline-block;
    list-style: none;
    padding: 1rem;
}

.nav-links li a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

.adverts__container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.advert-header {
    display: flex;
    justify-content: space-between;
}

.advert-header span {
    font-size: 1.1rem;
    color: #a7a7a7;
}

.advert-item {
    width: 80%;
    padding: 2rem 3rem;
    background-color: white;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
}

.advert-item p {
    font-size: 1.1rem;
    padding: 1rem;
}

.comment {
    display: flex;
    border-top: 1px solid lightgray;
    margin-top: .5rem;
    padding-top: .5rem;
}

.comment-body {
    display: flex;
    flex-direction: column;
}

.user {
    font-weight: bold;
    font-size: 1.1rem;
}

.comment img {
    height: 75px;
    width: 75px;
    object-fit: cover;
    padding: .5rem;
}

.comment p {
    font-size: 1rem;
    padding: .3rem .5rem;
}

.form__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.advert-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 2rem 5rem;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
}
.advert-form label {
    margin: 1.5rem 0 .5rem 0;
    font-size: 1.3rem;
}

.advert-form input {
    padding: .5rem .8rem;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    border: none;
    outline: none;
    background-color: #f7f7f7;
}

.advert-form button {
    padding: .7rem 1.3rem;
    margin-top: 1.5rem;
    font-size: 1.4rem;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    background-color: #858AE3;
    color: white;
    cursor: pointer;
}